@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    border-radius: 3px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #262626;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: #262626;
    font-size: 14px;
    z-index: 3;
}

.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
    background-color: white;
}

.top-menu {
    max-width: 935px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.border {
    border-bottom: #dbdbdb 1px solid;
}

.top-menu>div {
    display: flex;
    align-items: center;
}

.top-icon {
    height: 22px;
}

.meme-icon {
    width: 103px;
    padding-left: 10px;
}

.logo .top-icon:first-child {
    padding-right: 10px;
    border-right: #dbdbdb 1px solid;
}

.brand-logo {
    padding-left: 10px;
}

.search-bar {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    color: #979797;
    box-sizing: border-box;
}

.search-bar .brand-logo {
    display: none;
}

.search-bar > div {
    padding: 5px;
}

.settings-menu .top-icon {
    padding: 0 10px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 935px;
    margin: auto;
    width: 100%;
}

.anchor {
    max-width: 935px;
    display: flex;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}

.recommendations {
    max-width: 293px;
    width: 100%;
    height: auto;
    margin-top: 50px;
    right: 0;
    position: absolute;
}

.stories {
    display: flex;
    align-items: center;
    max-width: 614px;
    height: 118px;
    width: 100%;
    margin-top: 88px;
    margin-left: 0;
    margin-right: auto;
    border: 1px solid #dbdbdb;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.follower-stories {
    display: flex;
    margin: 7px;
    position: absolute;
    left: 0;
    /* justify-content: space-around; */
    align-items: center;
}

.stories-button {
    height: 32px;
    filter: invert(100%);
    position: absolute;
    right: 30px;
    z-index: 5;
}

.shadow {
    filter: opacity(30%);
    filter: blur(80%);
    bottom: 40px;
    z-index: 4;
}

.main-button {
    position: absolute;
    right: 20px;
}

.post {
    max-width: 614px;
    margin-top: 60px;
    border: 1px solid #dbdbdb;
    background-color: white;
}

.content .post:first-child {
    margin-top: 24px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-name {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
}

.page-actions img {
    height: 22px;
    margin-right: 7px;
}

.profile-picture img {
    border-radius: 50%;
}

.profile-picture {
    display: flex;
    max-width: 80px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 10px;
    position: relative;
}

.profile-picture div {
    font-size: 12px;
}

.post-picture {
    display: flex;
    margin: 10px;
    border-radius: 50%;
    align-items: center;
}

.profile-name {
    margin-bottom: 3px;
    font-weight: 500;
}

.extra-info {
    color: #8e8e8e;
}

.profile-name,
.extra-info {
    margin-left: 12px;
}

.stories-pfp {
    background-image: './images/stories.background.jpg';
    background-size: cover;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.recommendations h2 {
    margin-left: 10px;
    color: #979797;
    font-weight: 500;
}

.sidebar-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3px;
    padding-right: 7px;
    font-size: 12px;
}

.sidebar-actions .follow-action {
    font-size: 12px;
    color: #139EF2;
}

.sidebar-actions .new-tab {
    font-size: 12px;
    font-weight: 500;
}

.featured-pfp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.sidebar-actions .extra-info {
    font-size: 12px;
}

.profile-picture .stories-pfp {
    position: relative;
    width: 60px;
    height: 60px;
    top: 5px;
    margin-bottom: 7px;
    z-index: 1;
}

.has-stories {
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    z-index: 0;
}

.profile-header {
    margin-left: 12px;
}

.page-media {
    width: 100%;
}

.user-actions img {
    padding: 5px 7px;
    height: 22px;
}

.ua-buttons {
    display: flex;
    justify-content: space-between;
}

.page-suggested {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eula {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    color: #c7c7c7;
    font-size: 11px;
}

.eula .extra-info {
    color: #c7c7c7;
    font-size: 11px;
    padding-right: 8px;
}

.extra-info-logo {
    margin: 7px 0 7px 11px;
    color: #c7c7c7;
    font-size: 11px;
}

.post-metrics {
    display: flex;
    align-items: center;
    justify-content: initial;
}

.featured-pfp-mini {
    width: 20px;
    height: 20px;
    padding-left: 3px;
    border-radius: 50%;
}

.text-highlight {
    display: flex;
    align-items: center;
    padding: 0 3px;
    font-weight: 500;
}

.mobile {
    display: none;
}

@media (max-width: 935px) {
    .recommendations {
        display: none;
    }

    .logo .top-icon {
        margin-left: 10px;
    }

    .stories-button {
        display: none;
    }

    .stories {
        margin: 0 auto;
        margin-top: 88px;
    }

    .post {
        margin: 0 auto;
    }
}

@media (max-width: 614px) {
    .stories {
        margin: 0;
        margin-top: 50px;
        background-color: #fafafa;
        border: none;
    }

    .logo .top-icon:first-child {
        border-right: none;
    }

    .logo .brand-logo {
        display: none;
    }

    .mobile {
        display: initial;
    }

    .top-menu .search-bar {
        background-color: initial;
        border: none;
    }

    .search-bar {
        display: none;
    }

    .post {
        margin-top: 60px;
        border: none;
        border-top: 1px #dbdbdb solid;
        border-bottom: 1px #dbdbdb solid;
    }

    .content .post:first-child {
        margin: 0;
    }

    .settings-menu .top-icon {
        display: none;
    }

    .settings-menu .top-icon:first-child {
        display: block;
    }

    .mobile-buttons {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 614px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 3;
        background-color: white;
        padding: 15px 10px;
        box-sizing: border-box;
        border-radius: 0;
    }

    .mobile-buttons a {
        width: 22px;
    }
}